<% include partials/header %>


<div class="container userArea">
	<div class="row">

		<div class="col-lg-3 userArea-userMenu shadowEffect">
			<div class="userMenu-title">
				<strong><h5>User Area</h5></strong>
			</div>
			<ul class="nav nav-tabs flex-column userArea-list" role="tablist">
				<li class="nav-item row">
					<a class="nav-link active" href="#user-profile" data-toggle="tab">
						<i class="fa fa-user"></i>
					User Profile 						
					</a>
				</li>
				<li class="nav-item row">
					<a class="nav-link" href="#account-settings" data-toggle="tab">
						<i class="fa fa-cog"></i>
					Account Settings </a>
				</li>
				<li class="nav-item row">
					<a class="nav-link" href="#manage-items" data-toggle="tab">
						<i class="fa fa-list-alt"></i>
					Manage Items </a>
				</li>
				<li class="nav-item row">
					<a class="nav-link" href="#inbox" data-toggle="tab">
						<i class="fa fa-inbox"></i>
					Inbox </a>
				</li>
			</ul>
		</div>
		<div class="tab-content col-lg-7 userArea-content float-right shadowEffect">

			<div role="tabpanel" class="tab-pane fade show active" id="user-profile">
				<div class="row justify-content-center">
					<img class="avatar w-25 h-25" src="./img/default-user-image.png">
				</div>

				<div class="row">
					<p class="col-lg-6">Name: <%=user.name %></p>
					<p class="col-lg-6">Email: <%=user.email %></p></div>
				<div class="row">
					<p class="col-lg-6">Birth Date: <%=user.birthdate %></p>
					<p class="col-lg-6">Phone number: <%=user.phonenumber %></p>
				</div>
				<div class="row"><p class="col-lg-12">District: <%=user.district %></p></div>
				<div class="row"><p class="col-lg-12">Account Created date: <%=user.createAt %></p></div>

			</div>
			<div role="tabpanel" class="tab-pane fade" id="account-settings">
				<form class="form-inline" action="/accountSettings" method="POST">
					<div class="form-group row m-1">
						<label>Name</label>
						<input type="text" class="ml-1 form-control" name="Name">
					</div>	
					<div class="form-group row m-1">
						<label>Email</label>
						<input type="email" class="ml-1 form-control" name="Email">
					</div>    
					<div class="form-group row m-1">
						<label>Birth Date</label>
						<input type="date" class="ml-1 form-control" name="BirthDate">
					</div>
					<% if (error != null) { %>
				        	<div class="alert-danger row ml-1 h6"><%= error.password %></div><br>
				    <% } %>
					<div class="form-group row m-1">						
						<label>Old Password</label>
						<input type="password" class="ml-1 form-control" name="OldPassword">
					</div>    
					<div class="form-group row m-1">
						<label>New Password</label>
						<input type="password" class="ml-1 form-control" name="New Password">
					</div>    
					<div class="form-group row m-1">
						<label>Phone Number</label>
						<input type="tel" class="ml-1 form-control" name="PhoneNumber">
					</div>		

					<div class="form-group row m-1">
						<label">District</label>
						<select class="form-control" name ="District">
							<option selected>Islands</option>
							<option>Kwai Tsing</option>
							<option>North</option>
							<option>Sai Kung</option>
							<option>Sha Tin</option>
							<option>Tai Po</option>
							<option>Tsuen Wan</option></option>
							<option>Tuen Mun</option>
							<option>Yuen Long</option>
							<option>Kowloon City</option>
							<option>Kwun Tong</option>
							<option>Sham Shui Po</option>
							<option>Wong Tai Sin</option>
							<option>Yau Tsim Mong</option>
							<option>Central and Western</option>
							<option>Eastern</option>
							<option>Southern</option>
							<option>Wan Chai</option>
						</select>
					</div>
					<div class="form-group row m-1">
						<div class="form-check">
							<label class="form-check-label">
								<input class="form-check-input" type="checkbox"> I agree the TOS.
							</label>
						</div>
					</div><br><br><br>
					<button type="submit" class="row m-1 btn btn-primary">Update</button>
				</form>
			</div>
			<div role="tabpanel" class="tab-pane fade" id="manage-items">
				
			</div>
			<div role="tabpanel" class="tab-pane fade" id="inbox" >
				
			</div>
		</div>	
	</div>	
	<div class="row"></div>
</div>







<script>
	$(document).ready(function(){

			
	});

</script>

<% include partials/footer %>